* {
    margin-right: 130px;
    margin-left: 10px;
}
body {
    background-color: rgb(158, 113, 158);
}
h1 {
    background-color: violet;
    font-family: "Courier New", sans-serif, "Times New Roman";
    width: 250px;
    padding: 16px;
    outline: 3px solid black;

}
ul {
    list-style: none;
    margin: 30px;
}
h2 {
    background-color: teal;
    color: rgb(208, 226, 201);
    font-family: Cambria, sans-serif, "Times New Roman";
    font-weight: lighter;
    text-align: center;
}
.link {
    margin-bottom: 15px;
}
img {
    margin-left: 25px;
}